body{
    background: linear-gradient(135deg,#ca1f1f,#b97e7e,#c71414);
}
.header,.title-form,.box,.lab,.emotion,
input,#objectif
#contact,.contact{ 
    margin: 5%;
    padding: 5%;
}
.contact{
    text-align: center;
    color: white;
    text-shadow: 1px 4px 1px black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.title-form,#form-select{
    color: white;
    text-shadow: 1px 1px 1px black;
}
.header{
    background: linear-gradient(135deg,rgb(32, 155, 177),rgb(60, 161, 192),rgb(48, 109, 138));
    margin: 5%;
    padding: 5%;
}
.title-form{
    border-radius: 50%;
    text-align: center;
    background: linear-gradient(135deg,#ca1f1f,#b97e7e,#c71414);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 1px 4px 1px black;
}
.box{
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 183, 255);
    border-radius: 20px;
    background: linear-gradient(135deg,rgb(137, 189, 219),rgb(62, 154, 177),rgb(16, 71, 85));
    box-shadow: -2px -2px 0px rgb(246, 245, 245);
}
.lab{
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    text-align: center;
    color: white;
    text-shadow: 0px 2px 11px black;    
}
#form-select{
    display: flex;
    margin: 2% auto;
    padding: 5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: linear-gradient(135deg,rgb(197, 195, 215),rgb(60, 118, 133),rgb(188, 192, 204));
    font-style: italic;
    text-align: center;  
}

.selected{
    display:flex;
    flex-direction:column;
    color: blue;
    text-shadow: 1px 1px 1px white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: linear-gradient(135deg,rgb(90, 152, 211),rgb(58, 115, 168),rgb(16, 190, 196));
}
.emotion{
    display:flex;
    flex-direction:column;
}
.para-father{
    color: white;
    text-shadow: 1px 3px 1px #1e46a4;
}
input{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.one-p{
    color: green;
}
.two-p{
    color: orange;
} 
.three-p{
    color: rgb(240, 21, 13);
}
.one-p,.two-p,.three-p{
    text-align: center;
    font-family: cursive;
    text-shadow: 1px 1px 1px black;
}
.area{
    background:linear-gradient(135deg,rgb(66, 122, 144),rgb(61, 115, 129),rgb(69, 148, 172));
    margin:5%; 
    padding: 6%;
}
#lab-area{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background:linear-gradient(135deg,rgb(189, 74, 74),rgb(206, 123, 123),rgb(143, 56, 56));
    color: white;
    font-family: 'Times New Roman', Times, serif;
    margin: 4%;
    padding:6% ;
    resize: horizontal;
} 
#objectif{
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
    text-align: center;
}
#contact{
        background: linear-gradient(135deg,#ca1f1f,#b97e7e,#c71414);
}
.lab-name{
    background: linear-gradient(135deg,rgb(137, 145, 147),rgb(60, 161, 192),rgb(176, 189, 195));
    margin: 10%;
    padding: 4%;
    border-radius: 50px;
} 

#contact-nom,#contact-email,#contact-prenom{
    width: 70%;
    height: 50%;
    margin-left: 14%;
    border-radius: 50px;
    background: linear-gradient(135deg,rgb(11, 76, 129),rgb(90, 138, 177),rgb(14, 48, 68));
    color: white;
    box-shadow:1px 4px 1px black;
    font-size: 16px;
    font-family: "roboto_light",Arial,sans-serif;
    padding: 7%;
} 
.text-white{
    margin-left: 40%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
    text-shadow: 1px 4px 1px black;
    text-shadow: 2px 2px 13px deepskyblue;

}
::placeholder{
    text-align: center;
    color: rgb(255, 255, 255);
}
#button{
    width: 70%;
    height: 50%;
    margin-left: 14%;
    border-radius: 50px;
    background: linear-gradient(135deg,rgb(11, 76, 129),rgb(90, 138, 177),rgb(14, 48, 68));
    color: white;
}

