*, ::after, ::before,body,html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}
/* couleur du body */
body{
    background: linear-gradient(135deg,	#4682B4,#B0E0E6, 	#B0C4DE);
    
}
/* titre responsive (h1) */
.display-4 {
    font-size: 10vw;
    font-weight: 300;
    line-height: -0.8;
    font-family: 'Fredericka the Great', cursive;
}
/* stylisation du span */
.think-child{
    color: black;
    text-shadow:  1px 1px 1px whitesmoke;
    font-size: 14px;
    
}

/* stylisation de button*/
.button{
    margin: 2%;  
}
#echo {
    margin-top: -37%;
}

@media screen and (min-width:572px) {
    /* bouton menu caché */
    #drop{
        visibility: collapse;
    }
    

}
/* position du bouton */
#drop{
    display: flex;
    position: absolute;
    top: -297px;
    left: -40px;
}
.dropdown-item {
    display: block;
    width: 100%;
    clear: both;
    font-weight: 400;
    text-align: end;
    text-decoration: none;
    white-space: pre;
    background: linear-gradient(135deg,rgb(102, 128, 155),rgb(17, 82, 136),rgb(0, 174, 255));
    border: 0;
    color: rgb(245, 243, 243);
    text-shadow: 1px 1px 1px black;
    padding: 20px;
    font-family: 'Courgette', cursive;
}
/* stylisation de l'icone du menu */
.btn,.custom{
    color: white;
    background: linear-gradient(135deg,rgb(8, 110, 226),rgb(7, 38, 179),rgb(54, 126, 160));
    font-size: 20px;
    border-radius: 50px;
    margin-left: 55px;
    line-height: 0.5;
    
    
    
}
/* taille de h5 */
.h5, h5 {
    font-size: 10px;
}


/* paragraphe de presentation */
.para-pre{
    margin: 0 20%;
    color: #f1f1f6;
    text-shadow: 1px 1px 1px #050212;
    font-family: "roboto_regular",Arial,sans-serif;
    font-size: 18px;
    padding: 5%;
}

/* Nos activités */
.relation-act{
    color: #6f90c5;
    margin: 5%;
    text-align: center;
    text-decoration: underline;
    font-family: "roboto_light",Arial,sans-serif;
    text-shadow: 1px 1px 1px #0c0c0d;
    text-transform: uppercase;
    font-style: oblique;
}
.us{
    font-size:20px;
    color: #558adc;
    text-shadow: 1px 1px 1px #433d3d;
    margin-top: 5px;
    text-align: center;
    font-family: 'Lobster', cursive;
}
/* ajustement du logo garden */
.garden{
    width: 5rem;
    height: 5rem;
    

}
/* stylisation de la carte(card) */
.bg-custom-2{
    color: #0e79ec ;
    text-align: center;
    margin-left: 5%; 
    text-shadow: 1px 1px 1px #5158bc;
    font-family: 'Satisfy', cursive;
    background-color: #3f3f5b;
    width: 90%;
}

/* stylisation du paragraphe cause */
#cause{
    color: white;
    font-family: 'Crimson Text', serif;
    margin: 2%;
    font-size: 22px;
}







/* couleur de la balise détails */
.coloring{
    color: #6057cd;

}
/* stylisation du label */
#lab{
    margin: 1rem 0;
}
/* stylisation du paragraphe analyse */
.analyse{
    color: #3f69b7;
    font-family: 'Lobster', cursive;
    font-size: 20px;
    margin: 4% 8%;
}
/* taille des emoticone */
#emo{
    width: 50%;
    height: 50%;
    margin: 5% 20%;
    border-radius: 18px;
}
/* stylisation du paragraphe prise en charge */
.text-custom{
    color: #f5eded;
    font-size: 1em;
    padding: 6%;
    background-color: #002080;
    margin: 12% auto;
    border: 4mm ridge #747da2;
    
}
#earth{
    border-radius: 20%;
    height: auto;
}
/* image  caché a partir de 358 px => 768px  */
@media screen and (min-width: 358px) and (max-width: 768px){
    .hearth{
        visibility:hidden;
    }
    .text{
        text-shadow: 1px 1px 1px #d0c6c6;
        position: absolute;
        font-size: 99%;
        top: 15%;
        font-family: 'Goblin One', cursive;
        color: rgb(16, 150, 247);
        margin: 5% 2%;
    }
    summary {
        display: list-item;
        cursor: pointer;
        margin-left: 9%;
    }
    .img-fluid .hand {
        max-width: 100%;
        height: 45%;
        border-radius: 58%;
        margin-top: 5%;
    }
    
    .text-pro{
        color: #1aabd8;
        text-transform: capitalize;
        margin-top: 5%;
        text-decoration: underline;
    }
    
    .who{
        color: #d6d6df;
        font-family: 'Goblin One', cursive;
        margin: 5% 27%;
        font-size: 1em;
        text-shadow: 1px 1px 1px #232322;
        padding: 5%;
        background: linear-gradient(135deg,#0e99ec,#292bcc,#2dc1ac);
        border-radius: 50%;
    }
    #card-logo {
        
        max-width: 67%;
        margin: 10% auto;
        background: linear-gradient(135deg,rgb(92, 93, 187),rgb(45, 118, 216),rgb(146, 146, 233));
        border-radius: 20px;
        margin-left: 16%;
        border: 4px solid #f9f8f7;
    }
    .us {
        color: #f1f3f6;
        text-shadow: 1px 1px 1px #030d25;
        margin-top: 5px;
        text-align: center;
        padding: 5%;
        text-transform: capitalize;
        font-family: 'Liberation Sans', sans-serif;
        font-style: oblique;
    }
    .help {
        font-size: 137%;
        color: #5071cf;
        text-shadow: 1px 1px 1px #080808;
        margin-top: 5%;
    }
    .relation{
        color: blue;
        font-family: 'Lobster', cursive;
        text-align: center;
        padding: 5%;
        font-size: 2em;
        text-shadow: 1px 1px 1px floralwhite;
    }
    #relation-hearth{
        color: #5d9f74;
        font-size: 1rem;
        text-transform: uppercase;
        text-shadow: 1px 1px 1px black;
        font-family: "roboto_light",Arial,sans-serif;
    }
    .line{
        color:white;
    }
    .img-fluid .handle{
        border-radius:20px;
    }
}
/* image de coeur media queries taille min 991px */
@media screen and (min-width:991px)and(max-width:1000px) {
    .hearth{
        width: 50%;
        height: 50%;
        padding: 5%;
    }
}
.hearth{
    width: 41%;
    height: 39%;
    border-radius: 70%;
}
/* media queries 1280px */
@media screen and (min-width:1280px) and (max-width:1800px){
    .us {
        color: #cecdd1;
        font-size: 2.5em;
        text-shadow: 1px 1px 1px black;
        padding: 5%;
        position: absolute;
        top: 16%;
    }
    .img-fluid, .hand {
        height: 27%;
        margin: 5%;
        border-radius: 58%;
        padding: 8%;
        width: 43%;
    }
    .relation-act {
        color: #6f90c5;
        margin: 5%;
        text-align: center;
        text-decoration: underline;
        font-family: "roboto_light",Arial,sans-serif;
        text-shadow: 1px 1px 1px #0c0c0d;
        text-transform: uppercase;
        font-style: oblique;
        font-size: 3em;
    }
    
    
}
/* logo d'entreprise caché a partir de 768px => 1800px */
@media screen and (min-width: 768px) and (max-width:1280px) {
    .hand{
        width: 50%;
        height: 27%;
        margin: 1rem 2rem;
        border-radius: 20px;
        
    }
    /* image caché */
    #law,#web,#echo{
        visibility:hidden;
    }
    .card-logo{
        height: 54em;
    width: 84%;
    margin: 10% auto;
    background: linear-gradient(135deg,rgb(69, 52, 187),rgb(107, 112, 155),rgb(8, 8, 55));
    border-radius: 20px;
    }
    .text{
        text-shadow: 1px 1px 1px #8078a6;
        position: absolute;
        font-size: 40px;
        top: 2%;
        font-family: 'Pattaya', sans-serif;
        color: rgb(249, 245, 8);
    }
    .mount{
        padding: .25rem; 
        background-color: #fff;
        border: 4px solid #0a0a0b;
        border-radius: 50%;
        max-width: 100%;
        height: auto;
        margin: 5% auto; 
        position: fixed;
    }
    
    .us{
        color: #cecdd1;
        font-size: 1.5em;
        text-shadow: 1px 1px 1px black;
        padding: 5%;
    } 
    /* style du titre qui sommes nous */
    .who{
        color: #1953c3;
        text-align: center;
        font-family: 'Pattaya', sans-serif;
        margin: 5% auto;
        text-shadow: 1px 1px 1px #000000;
        text-transform: capitalize;
        font-size: 3rem;
    } 
    #cause{
        font-size: 2em;
    }
    .help{
        font-size: 2em;
        color: #a5a3cd;
        text-shadow: 4px 6px 1px #232626;
        font-family: 'Pacifico', cursive;
        display: initial;
        
    }
    .relation{
        color: #192fdb;
        text-align: center;
        font-family: 'Pattaya', sans-serif;
        padding: 5%;
        font-size: 3em;
        text-shadow: 1px 1px 1px #e5e4ed;
        text-transform: uppercase;
        font-family: "Publico Banner",serif;
        font-style: oblique;
        font-weight: bold;
        text-shadow: 1px 1px 1px black;
    }
    .text-pro{
        padding: 5%;
        color: black;
        font-family: 'Pacifico', cursive;
        text-transform: full-width;
        text-shadow: 1px 1px 1px snow;
        font-weight: inherit;

    }
    #card-logo {
        height: 47em;
        width: 84%;
        margin: 10% auto;
        background: linear-gradient(135deg,rgb(69, 52, 187),rgb(65, 80, 185),rgb(26, 26, 210));
        border-radius: 20px;
    }
    
}
/* media querie taille min 1200px */
@media screen and (min-width:1200px) {
    .img-fluid .hand {
        height: 36%;
        margin: 5%;
        border-radius: 58%;
        padding: 8%;
        width: 43%;
    }
    .relation{
        color: #1e44d7;
        font-family: 'Goblin One', cursive;
        text-align: center;
        padding-top: 5%;
        
    }
    #relation-hearth{
        color: #d1d3e0;
        font-size: 2em;
        text-shadow: 1px 1px 1px blue;
        margin: 10%;
    }
    .img-hearth{
        width: 100%;
    }
    .who {
        color: #1937d7;
        text-align: center;
        font-family: 'Pattaya', sans-serif;
        margin: 5% auto;
        text-shadow: 1px 1px 1px #baa4a4;
        font-size: 3em;
    }
    .para-pre {
        margin: 0 20%;
        color: #6570b0;
        text-shadow: 1px 1px 1px #bebedc;
        font-family: 'Dancing Script', cursive;
        padding: 8%;
        font-size: 2em;
    }
}
/* media queries de 358 px => 618px  */
@media screen and (min-width: 358px) and (max-width: 768px){
    .hearth{
        visibility:hidden;
    }
    
    .text{
        text-shadow: 1px 1px 1px #d0c6c6;
        position: absolute;
        font-size: 99%;
        top: 15%;
        font-family: 'Goblin One', cursive;
        color: rgb(16, 150, 247);
        margin: 5% 2%;
    }
    summary {
        display: list-item;
        cursor: pointer;
        margin-left: 9%;
        color: #0e64d2;
    }
    
    
    
    
    
    .us {
        font-size: 16px;
        color: #e8e9f0;
        text-shadow: 1px 1px 1px #887171;
        margin-top: 36px;
        text-align: center;
        font-family: 'Lobster', cursive;
        line-height: 1em;
        padding: 7%;
            padding-bottom: 7%;
        padding-bottom: 25%;
    }
    .text-pro{
        color: #babad5;
        padding-top: 6%;
    }
    .help,.trait{
        visibility: hidden;
    }
    .relation{
        color: #1e9ad7;
        font-family: 'Lobster', cursive;
        text-align: center;
        padding-top: 2%;
        font-size:3rem;
    }
    
}







