*, ::after, ::before,body,html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}
/* couleur du body */
body{
    background-color:black; 
    
}
/* titre responsive (h1) */
.display-4 {
    font-size: 10vw;
    font-weight: 300;
    line-height: -0.8;
    font-family: 'Fredericka the Great', cursive;
}
/* stylisation du span */
.think-child{
    color: black;
    text-shadow:  1px 1px 1px whitesmoke;
    font-size: 14px;
    
}

/* stylisation de button*/
.button{
    margin: 2%;  
}

@media screen and (min-width:572px) {
    /* bouton menu caché */
    #drop{
        visibility: collapse;
    }
    

}
/* position du bouton */
#drop{
    display: flex;
    position: absolute;
    top: -297px;
    left: -40px;
}
.dropdown-item {
    display: block;
    width: 100%;
    clear: both;
    font-weight: 400;
    text-align: end;
    text-decoration: none;
    white-space: pre;
    background: linear-gradient(135deg,rgb(102, 128, 155),rgb(17, 82, 136),rgb(0, 174, 255));
    border: 0;
    color: rgb(245, 243, 243);
    text-shadow: 1px 1px 1px black;
    padding: 20px;
    font-family: 'Courgette', cursive;
}
/* stylisation de l'icone du menu */
.btn,.custom{
    color: white;
    background: linear-gradient(135deg,rgb(8, 110, 226),rgb(7, 38, 179),rgb(54, 126, 160));
    font-size: 20px;
    border-radius: 50px;
    margin-left: 55px;
    line-height: 0.5;
    
    
    
}
/* taille de h5 */
.h5, h5 {
    font-size: 10px;
}


/* paragraphe de presentation */
.para-pre{
    margin: 0 20%;
    color: #83879d;
    text-shadow: 1px 1px 1px mediumblue;
}
/* Nos activités */
#activity {
    color: #8081c0;
}
.us{
    font-size:20px;
    color: #558adc;
    text-shadow: 1px 1px 1px #433d3d;
    margin-top: 5px;
    text-align: center;
    font-family: 'Lobster', cursive;
}
/* ajustement du logo garden */
.garden{
    width: 5rem;
    height: 5rem;
    

}
/* stylisation de la carte(card) */
.bg-custom-2{
    color: #0e79ec ;
    text-align: center;
    margin-left: 5%; 
    text-shadow: 1px 1px 1px #5158bc;
    font-family: 'Satisfy', cursive;
    background-color: #3f3f5b;
    width: 90%;
}

/* stylisation du paragraphe cause */
#cause{
    color: white;
    font-family: 'Crimson Text', serif;
    margin: 2%;
    font-size: 22px;
}
/* stylisation de la carte des logos */
#card-logo{
    height: 47em;
    width: 84%;
    margin: 10% auto;
    background: linear-gradient(135deg,rgb(187, 52, 153),rgb(82, 89, 149),rgb(135, 135, 136));
    border-radius: 20px;
}

/* redimensionnement des logos */
#web{
    height: 10rem;
    width: 10rem;
}
#echo{
    height: 2em;
    width: 1em;
}
#law{
    height: 9rem;
    width: 10rem;
}
/* couleur de la balise détails */
.coloring{
    color: #6bcd57;

}
/* stylisation du label */
#lab{
    margin: 1rem 0;
}
/* stylisation du paragraphe analyse */
.analyse{
    color: #3f69b7;
    font-family: 'Lobster', cursive;
    font-size: 20px;
    margin: 4% 8%;
}
/* taille des emoticone */
#emo{
    width: 50%;
    height: 50%;
    margin: 5% 20%;
    border-radius: 18px;
}
/* stylisation du paragraphe prise en charge */
.text-custom{
    color: #f5eded;
    font-size: 1em;
    padding: 6%;
    background-color: #002080;
    margin: 12% auto;
    border: 4mm ridge #747da2;
    
}
/* image  caché a partir de 358 px => 768px  */
@media screen and (min-width: 358px) and (max-width: 768px){
    .hearth{
        visibility:hidden;
    }
    .text{
        text-shadow: 1px 1px 1px #d0c6c6;
        position: absolute;
        font-size: 99%;
        top: 15%;
        font-family: 'Goblin One', cursive;
        color: rgb(16, 150, 247);
        margin: 5% 2%;
    }
    summary {
        display: list-item;
        cursor: pointer;
        margin-left: 9%;
    }
    .img-fluid {
        max-width: 100%;
        height: 45%;
        border-radius: 58%;
        margin-top: 5%;
    }
    .who{
        color: #1baad8;
        font-family: 'Goblin One', cursive;
        margin: 5% 30%;
        font-size:1em;
        text-shadow: 1px 1px 1px antiquewhite;
    }
    #card-logo {
        height: 50em;
        width: 17em;
        /* margin: 10% auto; */
        background: linear-gradient(135deg,rgb(142, 142, 163),rgb(154, 154, 172),rgb(171, 171, 192));
        border-radius: 20px;
        margin-left: -4%;
        border: 4px solid #f9f8f7;
    }
    .us {
        font-size: 20px;
        color: #0f61e2;
        text-shadow: 1px 1px 1px #1e1c1c;
        margin-top: 5px;
        text-align: center;
        font-family: 'Lobster', cursive;
    }
    .help {
        font-size:2em;
        color: burlywood;
    }
    .relation{
        color: blue;
        font-family: 'Lobster', cursive;
        margin-left: 33%;
        padding: 5%;
    }
}
/* image de coeur redimensionnée */
.hearth{
    width: 50%;
    height: 50%;
}
/* logo d'entreprise caché a partir de 768px => 1800px */
@media screen and (min-width: 768px) and (max-width:1800px) {
    .hand{
        width: 80%;
        height: 80%;
        justify-content:center;
        margin: 1rem 2rem;
        
    }
    /* image caché */
    #law,#web,#echo{
        visibility:hidden;
    }
    .card-logo{
        height: 75%;
        width: 64%;
        background-color: #374263;
        margin: 5% auto;
    }
    .text{
        text-shadow: 1px 1px 1px #8078a6;
        position: absolute;
        font-size: 40px;
        top: 2%;
        font-family: 'Pattaya', sans-serif;
        color: rgb(249, 245, 8);
    }
    .img-thumbnail {
        padding: .25rem; 
        background-color: #fff;
        border: 4px solid #0a0a0b;
        border-radius: 50%;
        max-width: 100%;
        height: auto;
        margin: 5% auto;
    }
    .img-fluid,.hand {
        max-width: 100%;
        height: auto;
        margin: 5%;
        border-radius: 8%;
    }  
    .us{
        color: #cecdd1;
        font-size: 2em;
        text-shadow: 1px 1px 1px black;
    } 
    /* style du titre qui sommes nous */
    .who{
        color: #929dd7;
        text-align: center;
        font-family: 'Pattaya', sans-serif;
        margin: 5% auto;
        text-shadow: 1px 1px 1px black;
    } 
    #cause{
        font-size: 2em;
    }
    .help{
        font-size: 2em;
        color: red;
        text-shadow: 1px 1px 1px #32b6cc;
        font-family: 'Goblin One', cursive;
    }
    
}
/* media queries de 358 px => 618px  */
@media screen and (min-width: 358px) and (max-width: 768px){
    .hearth{
        visibility:hidden;
    }
    
    .text{
        text-shadow: 1px 1px 1px #d0c6c6;
        position: absolute;
        font-size: 99%;
        top: 15%;
        font-family: 'Goblin One', cursive;
        color: rgb(16, 150, 247);
        margin: 5% 2%;
    }
    summary {
        display: list-item;
        cursor: pointer;
        margin-left: 9%;
        color: #0e64d2;
    }
    .img-fluid {
        max-width: 100%;
        height: 45%;
        border-radius: 58%;
        margin-top: 5%;
        padding: 5%;
    }
    #web, #echo,#law {
        height: 7em;
        width: 8em;
        /* margin-left: 5% 20%; */
        margin-left: 20%;
        position: relative;
        bottom: 15%;
        right: -4%;
    
    }
    .us {
        font-size: 16px;
        color: #1e44d9;
        text-shadow: 1px 1px 1px #887171;
        margin-top: 36px;
        text-align: center;
        font-family: 'Lobster', cursive;
        line-height: 1em;
        padding: 7%;
            padding-bottom: 7%;
        padding-bottom: 25%;
    }
    .text-pro{
        color: #babad5;
        padding-top: 6%;
    }
    .help,.trait{
        visibility: hidden;
    }
    .relation{
        color: #1e44d7;
        font-family: 'Lobster', cursive;
        margin-left: 20%;
        padding-top: 2%;
        font-size: x-large;
    }
    
}







