*, ::after, ::before,body,html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* couleur du body */
body{
    background-color:black; 
}
/* titre responsive (h1) */
.display-4 {
    font-size: 10vw;
    font-weight: 300;
    line-height: -0.8;
    font-family: 'Fredericka the Great', cursive;
}
/* stylisation du span */
.think-child{
    color: black;
    text-shadow:  1px 1px 1px whitesmoke;
    font-size: 14px;
    
}

/* stylisation de button*/
.button{
    margin: 2%;  
}

@media screen and (min-width:572px) {
    /* bouton menu caché */
    #drop{
        visibility: collapse;
    }
    

}
/* position du bouton */
#drop{
    display: flex;
    position: absolute;
    top: -297px;
    left: -40px;
}
.dropdown-item {
    display: block;
    width: 100%;
    clear: both;
    font-weight: 400;
    text-align: end;
    text-decoration: none;
    white-space: pre;
    background: linear-gradient(135deg,rgb(102, 128, 155),rgb(17, 82, 136),rgb(0, 174, 255));
    border: 0;
    color: rgb(245, 243, 243);
    text-shadow: 1px 1px 1px black;
    padding: 20px;
    font-family: 'Courgette', cursive;
}
/* stylisation de l'icone du menu */
.btn,.custom{
    color: white;
    background: linear-gradient(135deg,rgb(8, 110, 226),rgb(7, 38, 179),rgb(54, 126, 160));
    font-size: 20px;
    border-radius: 50px;
    margin-left: 55px;
    line-height: 0.5;
    
    
    
}
/* taille de h5 */
.h5, h5 {
    font-size: 10px;
}


/* paragraphe de presentation */
.para-pre{
    margin:0 15% ;
    color: #83879d;
    text-shadow: 1px 1px 1px mediumblue;
}
/* Nos activités */
#activity {
    color: #8081c0;
}
.us{
    font-size:20px;
    color: #0e79ec;
    text-shadow: 1px 1px 1px #433d3d;
    margin-top: 5px;
    text-align: center;
    font-family: 'Lobster', cursive;
}
/* ajustement du logo garden */
.garden{
    width: 5rem;
    height: 5rem;
    

}
/* stylisation de la carte(card) */
.bg-custom-2{
    color: #0e79ec ;
    text-align: center;
    margin-left: 5%; 
    text-shadow: 1px 1px 1px #5158bc;
    font-family: 'Satisfy', cursive;
    background-color: #3f3f5b;
    width: 90%;
}
.alert-dark {
    color: #141619;
    background-color: #0d0d0d;
    border-color: #eaedef;
}
/* stylisation du paragraphe cause */
#cause{
    color: white;
    font-family: 'Crimson Text', serif;
    margin: 2%;
    font-size: 22px;
}
/* stylisation de la carte des logos */
#card-logo{
    height: 75%;
    width: 64%;
    margin: 10% auto;
    background-color: #d0cddb;
}

/* redimensionnement des logos */
#web,#echo{
    height: 10rem;
    width: 10rem;
}
#law{
    height: 9rem;
    width: 10rem;
}
/* couleur de la balise détails */
.coloring{
    color: #6bcd57;

}
/* stylisation du label */
#lab{
    margin: 1rem 0;
}
/* stylisation du paragraphe analyse */
.analyse{
    color: #3f69b7;
    font-family: 'Lobster', cursive;
    font-size: 20px;
    margin: 4% 8%;
}
/* taille des emoticone */
#emo{
    width: 50%;
    height: 50%;
    margin: 5% 20%;
    border-radius: 18px;
}
/* stylisation du paragraphe prise en charge */
.text-custom{
    color: #f5eded;
    font-size: 1em;
    padding: 6%;
    background-color: #002080;
    margin: 12% auto;
    border: 4mm ridge #747da2;
    
}
/* image  caché a partir de 358 px => 768px  */
@media screen and (min-width: 358px) and (max-width: 768px){
    .hearth{
        visibility:hidden;
    }
    .text{
        text-shadow: 1px 1px 1px #d0c6c6;
        position: absolute;
        font-size: 99%;
        top: 15%;
        font-family: 'Goblin One', cursive;
        color: rgb(16, 150, 247);
        margin: 5% 2%;
    }
    summary {
        display: list-item;
        cursor: pointer;
        margin-left: 9%;
    }
    .img-fluid {
        max-width: 100%;
        height: 45%;
        border-radius: 58%;
        margin-top: 5%;
    }
}
/* image de coeur redimensionnée */
.hearth{
    width: 50%;
    height: 50%;
}
/* logo d'entreprise caché a partir de 768px => 1800px */
@media screen and (min-width: 768px) and (max-width:1800px) {
    .hand{
        width: 80%;
        height: 80%;
        justify-content:center;
        margin: 1rem 2rem;
        
    }
    #law,#web,#echo{
        visibility:hidden;
    }
    .card-logo{
        height: 75%;
        width: 64%;
        background-color: #374263;
        margin: 5% auto;
    }
    .text{
        text-shadow: 1px 1px 1px #8078a6;
        position: absolute;
        font-size: 40px;
        top: 2%;
        font-family: 'Pattaya', sans-serif;
        color: rgb(249, 245, 8);
    }
    .img-thumbnail {
        padding: .25rem; 
        background-color: #fff;
        border: 4px solid #0a0a0b;
        border-radius: 50%;
        max-width: 100%;
        height: auto;
        margin: 5% auto;
    }
    .img-fluid,.hand {
        max-width: 100%;
        height: auto;
        margin: 5%;
        border-radius: 70%;
    }    
}
/* image  caché a partir de 358 px => 444px  */
@media screen and (min-width: 358px) and (max-width: 444px){
    .hearth{
        visibility:hidden;
    }
    .text{
        text-shadow: 1px 1px 1px #d0c6c6;
        position: absolute;
        font-size: 99%;
        top: 15%;
        font-family: 'Goblin One', cursive;
        color: rgb(16, 150, 247);
        margin: 5% 2%;
    }
    summary {
        display: list-item;
        cursor: pointer;
        margin-left: 9%;
    }
    .img-fluid {
        max-width: 100%;
        height: 45%;
        border-radius: 58%;
        margin-top: 5%;
    }
    #web, #echo {
    height: 10rem;
    width: 10rem;
    
    }
    .us {
        font-size: 20px;
        color: #f4da08;
        text-shadow: 1px 1px 1px #433d3d;
        margin-top: 5px;
        text-align: center;
        font-family: 'Lobster', cursive;
    }
}
/* image de coeur redimensionnée
.hearth{
    width: 50%;
    height: 50%;
} */






